.container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.topContainer {
    display: flex;
    flex: 1;
    min-height: '100vh'
}

.bottomContainer {
    flex: 1;
    min-height: '100vh'
}

.welcomeContainer {
    flex: 1
}

.welcomeTopContainer {
    width: '100%';
    height: '270px';
    display: flex;
    flex-direction: row;
    flex: 5
}

.welcomeBottomContainer {
    flex: 1
}

.welcomeTextContainer {
    flex: 1
}

.welcomeImageContainer {
    flex: 1
}

.welcomeText {
    margin-top: 100px;
    margin-left: 100px;
}

.welcomeImage {
    margin-top: 30px;
    height: 230px;
    margin-left: -10px
}