.drawer{
    height: auto;
    display: 'flex';
    position:fixed;
}

.topContainer{
    flex: 1;
    background-color: #fff;
}

.middleContainer{
    flex: 8;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.bottomContainer{
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.appName{
    margin-top: 15px;
    margin-left: 5px;
  }
  